body {
  background-image: url(./Images/restaurant_icons.png);
}

.jumbotron {
  background-image: url(./Images/header.jpg);
  background-position: center 75%;
  background-repeat: no-repeat;    
}

h1 {
  color: rgb(211, 32, 0);
  text-shadow: white 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
}

h2 {
  color: rgb(211, 32, 0);
  text-shadow: white 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
}